<html>
  <head>
  <base href="/">
    <title>Dom Farolino</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    

    <script src="../node_modules/es6-shim/es6-shim.min.js"></script>
    <script src="../node_modules/systemjs/dist/system-polyfills.js"></script>

    <script src="../node_modules/angular2/bundles/angular2-polyfills.js"></script>
    <script src="../node_modules/systemjs/dist/system.src.js"></script>
    <script src="../node_modules/rxjs/bundles/Rx.js"></script>
    <script src="../node_modules/angular2/bundles/angular2.dev.js"></script>
    <script src="../node_modules/angular2/bundles/router.dev.js"></script>
    <script src="../node_modules/angular2/bundles/http.dev.js"></script>

    <script src="../client/assets/bower_components/webcomponentsjs/webcomponents.js"></script>

    <!-- Polymer Script -->
    <!-- Must come before any Polymer imports -->
    <script>
        window.Polymer = window.Polymer || {};
        window.Polymer.dom = 'shadow';
    </script>

    <!-- Import <page-shell></page-shell> -->
    <link rel="import" href="../client/assets/custom_components/page-shell/page-shell.html">
    <link rel="import" href="../client/assets/custom_components/sidebar-item/sidebar-item.html">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- 2. Configure SystemJS -->
    <script>
      System.config({
        map: {
          '@angular2-material': '../node_modules/@angular2-material'
        },
        packages: {
          'client/': {
            format: 'register',
            defaultExtension: 'js'
          },
          '@angular2-material/core': {
            format: 'cjs',
            defaultExtension: 'js',
            main: 'core.js'
          },
          '@angular2-material/button': {
            format: 'cjs',
            defaultExtension: 'js',
            main: 'button.js'
          },
          '@angular2-material/card': {
            format: 'cjs',
            defaultExtension: 'js',
            main: 'card.js'
          },
          '@angular2-material/toolbar': {
            format: 'cjs',
            defaultExtension: 'js',
            main: 'toolbar.js'
          }
        }
      });
      System.import('../client/components/main').then(null, console.error.bind(console));
    </script>

  </head>

  <!-- 3. Display the application -->
  <body fullbleed>
      <my-app>
      </my-app>
      <a href="https://github.com/domfarolino"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
  </body>

</html>